* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

div.container {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    /* background: linear-gradient(315deg, #ffffff, #d7e1ec); */
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow: scroll;
}

.container .row {
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
}

.container .row .member {
    height: 80%;
    width: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    cursor: pointer;
    transform: translate(0, 0);
    transition: all .2s cubic-bezier(0, .8, .35, 1.35);
    z-index: 10;
}

.container .row .member.hide {
    opacity: 0;
    transform: translate(-100px, -100px);
    transition: all .2s cubic-bezier(0, .8, .35, 1.35);
}

.container .row .member .picture {
    opacity: 1;
    height: 80%;
    width: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 1;
    border: solid 10px #bde582;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .row .member .picture img {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 50%;
    transition: all .2s cubic-bezier(.41, 1.14, .75, 1.22);
}

.container .row .member .picture img.switch {
    transform: translateX(-50%);
    opacity: 0;
    transition: all .2s cubic-bezier(.41, 1.01, .5, .84);
}

.container .row .member .name {
    opacity: 1;
    background-color: #4abaae;
    color: white;
    height: 24px;
    width: 100%;
    text-align: center;
    margin-top: -36px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: text;
}

.container .row .member .name .hider-1,
.container .row .member .name .hider-2 {
    height: 24px;
    width: 24px;
    background-color: aliceblue;
    transform: rotate(45deg);
}

.container .row .member .name .hider-1 {
    margin-left: -12px;
}

.container .row .member .name .hider-2 {
    margin-right: -12px;
}

.container .row .member .name .editable-name {
    outline: none;
    border: none;
}

.container .row .member .context-menu {
    position: absolute;
    z-index: 15;
    right: -40px;
    top: 0;
    width: 40px;
    height: 120px;
    background-color: white;
    border: 1px solid rgba(57, 76, 96, 0.15);
    box-shadow: 0 2px 2px rgba(57, 76, 96, 0.15);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: all .2s cubic-bezier(0, .8, .35, 1.35);
}

.container .row .member .context-menu svg,
.container .row .member .add-partner {
    transform: scale(1);
    transition: all .2s ease;
}

.container .row .member .context-menu svg:hover,
.container .row .member .add-partner:hover {
    transform: scale(1.1);
    transition: all .2s ease;
}

.container .row .member .context-menu.hide,
.container .row .member .add-partner.hide {
    opacity: 0;
    transform: translateX(-50px);
    transition: all .2s cubic-bezier(0, .8, .35, 1.35);
}

.container .row .member .add-child.hide,
.container .row .partner-link .add-child.hide {
    display: none;
    opacity: 0;
    transform: translate(-50%, -50px) !important;
}

.container .row .member .add-partner {
    z-index: 15;
    position: absolute;
    right: -25px;
    top: 95%;
    filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.4));
}

.container .row .member .add-child:hover,
.container .row .partner-link .add-child:hover {
    transform: translate(-50%, 0) scale(1.1);
    transition: all .2s ease;
}

.container .row .member .add-child,
.container .row .partner-link .add-child {
    display: block;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
    bottom: -20px;
    transition: all .2s ease;
}

.container .row .partner-link .add-child {
    z-index: 15;
    bottom: -55px !important;
    cursor: pointer;
}

.container .row .partner-link {
    position: absolute;
    background-color: #bde582;
    z-index: 5;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: 0;
    transition: all .2s cubic-bezier(.76, .46, .62, 1.13);
}

.container .row .partner-link.hide {
    opacity: 0;
    transition: all .2s cubic-bezier(.76, .46, .62, 1.13);
}

.container .row .partner-link.hide.vertical {
    height: 0 !important;
}

.wrapper-button {
    position: absolute;
    display: inline-flex;
    list-style: none;
    right: 2%;
    top: 1%;
}

.wrapper-button .button {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-button .button .button-tooltip {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-transform: uppercase;
}

.wrapper-button .button svg {
    height: 100%;
    width: 100%;
}

.wrapper-button .button svg g {
    fill: #1877F2;
}

.wrapper-button .button:hover svg g {
    fill: aliceblue;
}

.wrapper-button .button:hover {
    background-color: #1877F2;
}

.wrapper-button .button .button-tooltip:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #1877F2;
    top: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-button .button:hover .button-tooltip {
    bottom: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background-color: #1877F2;
    color: aliceblue;
}

.wrapper-button .button:hover span,
.wrapper-button .button:hover .button-tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}